.simple_form {
  margin-left: 25%;
  margin-right: 25%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.simple_form input{
  border: 2px solid rgb(167, 164, 164);
  border-radius: 15px;
}

.simple_form label{
  font-weight: bold;
}

.blue-button {
  background-color: #2B2A4C;
  color: white;
  border-radius: 15px;

  &:hover {
    background-color: #B31312;
    color: white;
  }
}


h1, p{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
