.clown-show-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 65px;
  font-family: 'poppins';
}

.clown-paragraphe {
  max-width: 60vw;
}

.show-clown-container {
display: flex;
justify-content: space-between;
margin-top: 4vmin;
}

.show-clown-form-container {
  background-color: #EEE2DE;
  padding: 4vmin;
  border-radius: 8px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.show-clown-image-container {
  display: flex;
  overflow-x: hidden;
}
