<h1>Delete a clown profile here</h1>

<%= form_with(model: clown, method: :delete, url: clown_path(clown)) do |form| %>
  <p>
    Êtes-vous sûr de vouloir détruire ce clown ?
  </p>
  <%= form.submit("Détruire le clown") %>
<% end %>
