<div class = "navbar">
  <%= image_tag "SmilesForRent.png", class: "clown_logo" %>
  <h1>SmilesForRent</h1>
</div>

  <h1><%= @clown.username %></h1>

<%= cl_image_tag @clown.photo.key, height: 300, width: 400, crop: :fill %>
